/*Categories button*/
.jobtype {
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  grid-gap: 40px;
  justify-content: center;
  margin: 3vw 0vw 2vw 0vw;
}

#frontendbutton {
  color: #ffffff;
  height: 70px;
  /* padding: 2vw; */
  /* width: 20vh; */
  border-radius: 1em;
  border: 0px;
  background: rgba(37, 48, 57, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../../pictures/Dashboard/icon/fn.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#frontendbutton:hover, #frontendbutton:active {
  color: #253039;
  background: rgba(255, 184, 0, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../../pictures/Dashboard/icon/fnh.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#backendbutton {
  color: #ffffff;
  height: 70px;
  
  padding-left: 7px;
  padding-right: 7px;

  /* width: 20vh; */
  border-radius: 1em;
  border: 0px;
  background: #253039;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../../pictures/Dashboard/icon/bn.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#backendbutton:hover, #backendbutton:active {
  color: #253039;
  background: #ffb800;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../../pictures/Dashboard/icon/bnh.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#networkbutton {
  color: #ffffff;
  height: 70px;

  
  padding-left: 10.5;
  padding-right: 11px;
  padding-left: 10.5;
  padding-left: 11px;

  /* padding: 2vw; */
  /* width: 20vh; */
  border-radius: 1em;
  border: 0px;
  background: #253039;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../../pictures/Dashboard/icon/nw.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#networkbutton:hover, #networkbutton:active {
  color: #253039;
  background: #ffb800;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../../pictures/Dashboard/icon/nwh.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#dbbutton {
 color: #ffffff;
  height: 70px;
  
  padding-right: 6.5px;
  padding-left: 6.5px;

  /* padding: 2vw; */
  /* width: 20vh; */
  border-radius: 1em;
  border: 0px;
  background: #253039;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../../pictures/Dashboard/icon/db.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#dbbutton:hover, #dbbutton:active {
  color: #253039;
  background: #ffb800;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../../pictures/Dashboard/icon/dbh.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#uibutton {
  color: #ffffff;
  height: 70px;
  
  padding-left: 11px;
  padding-right: 11px;

  /* padding: 2vw; */
  /* width: 20vh; */
  border-radius: 1em;
  border: 0px;
  background: #253039;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../../pictures/Dashboard/icon/ui.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#uibutton:hover, #uibutton:active {
  color: #253039;
  background: #ffb800;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../../pictures/Dashboard/icon/uih.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#otherbutton {
  color: #ffffff;
  height: 70px;
  
  padding-left: 18.5px;
  padding-right: 18.5px;

  /* padding: 2vw; */
  /* width: 20vh; */
  border-radius: 1em;
  border: 0px;
  background: #253039;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../../pictures/Dashboard/icon/ot.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#otherbutton:hover, #otherbutton:active {
  color: #253039;
  background: #ffb800;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../../pictures/Dashboard/icon/oth.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#allbutton {
  color: #ffffff;
  height: 70px;
  
  
  padding-left: 15px;
  padding-right: 15px;


  /* padding: 2vw; */
  /* width: 20vh; */
  border-radius: 1em;
  border: 0px;
  background: #253039;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../../pictures/Dashboard/icon/ot.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#allbutton:hover, #otherbutton:active {
  color: #253039;
  background: #ffb800;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../../pictures/Dashboard/icon/oth.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*Search button*/
.searchbutton form{
  position: relative;
  left: 95%;
  transform: translate(-100%,0%);
  transition: all 1s;
  width: 70px;
  height: 70px;
  background: white;
  box-sizing: border-box;
  border-radius: 1em;
  border: 15px solid white;
  padding: 5px;
  margin-left: 5px;

}

.searchbutton input{
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #253039;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.searchbutton form:hover{
  width: 200px;
  cursor: pointer;
}

.searchbutton form:hover input{
  display: block;
}

.searchbutton form:hover .fa{
  background: #253039;
  color:white;
}